.grid-schedule {
  max-width: 14.28%!important;
  flex-basis: 14.28%!important;
  padding: 2px;

  .employeeList li {
    padding: 10px 20px;
    background:#efefef;
    margin-bottom: 5px;
  }
}

.schedule {
  padding: 0 20px;
}